<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALkB9PbWhpPIXY-0pj0W81uJ-APWBH0Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>788431082534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connmunapp</string>
	<key>PROJECT_ID</key>
	<string>onlyus-3ccc1</string>
	<key>STORAGE_BUCKET</key>
	<string>onlyus-3ccc1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788431082534:ios:32cf64e5dad80dcf1cc2e7</string>
</dict>
</plist>